html{
    scroll-behavior: smooth;
}

body{
    
    background-image: url("a5d79c8.jpg");
    background-size: 100%;

    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 9ch;
    animation: typing 2s steps(22), blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
    color: white;
    position: absolute;
    top: 13%;
    left: 42%;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
  
  div.glitch{
    position: absolute;
    animation: glitch 1s linear infinite;
    color: dimgray;
    font-size: 400%;
    top: 40%;
    left: 20%;
  }

  div.glitch2{
    position: absolute;
    animation: glitch 1s linear infinite;
    color: dimgray;
    font-size: 400%;
    top: 40%;
    left: 68.8%;
  }

a:link{
    color: dimgray;
    text-decoration: none;
}

a:visited{
    color: dimgray;
    text-decoration: none;
}

a:hover{
    color: darkgrey;
    text-decoration: none;
}

a:active{
    color: darkgrey;
    text-decoration: none;
}
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  div:before,
  div:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  div:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  div:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

img{
  position: absolute;
  top: 6%;
  left: 3%;
}

img:hover{
  transform: scale(1.1);
}