@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
    
    /*background-image: url("a5d79c8.jpg");*/

    background-color: black;
    margin-bottom: 100%;
}

h1#title{
    margin-top: 14%;
    margin-left: 23%;
    display: none;
}

h1{
    color: rgb(249,249,249);
    font-family: 'Courgette', cursive;
    font-size: 250%;
}

#purple{
    color: rgb(89,24,223);
}

.vl {
    border-left: 1px solid rgb(89,24,223);
    height: 300%;
    position: absolute;
    top: 19%;
    left: 22%;
}

#logo{
    width: 10%;
    left: 90%; 
    top: 5%; 
    position: absolute;   
    display: block;
    /*top: 23%;
    left: 64%;*/
    display: none;
}

#start{
    color: rgb(107,101,114);
    position: absolute;
    display: none;
    top: 20%;
    left: 23.6%;
}

#datianagrafici{
    color: rgb(107,101,114);
    position: absolute;
    display: none;
    top: 110%;
    left: 23.6%;
}

#mouse{
    position: absolute;
    top: 50%;
    left: 21.055%;
}

h2{
    color: rgb(107,101,114);
}

h2#primo{
    position: absolute;
    top: 115%;
    left: 23.6%;
}