@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    
    /*background-image: url("a5d79c8.jpg");*/

    background-color: black;
    margin-bottom: 100%;
}

h1#title{
    position: absolute;
    top: 24%;
    left: 23.6%;
    display: none;
}

h1#primo{
    color: rgb(107,101,114);
}

h1{
    color: rgb(249,249,249);
    font-family: 'Courgette', cursive;
    font-size: 250%;
}

p{
    font-family: 'Courgette', cursive;
}

#purple{
    color: rgb(89,24,223);
}

.vl {
    border-left: 1px solid rgb(89,24,223);
    height: 300%;
    position: absolute;
    top: 19%;
    left: 22%;
}

#logo{
    width: 10%;
    left: 90%; 
    top: 5%; 
    position: absolute;   
    display: block;
    display: none;
}

#start{
    color: rgb(107,101,114);
    position: absolute;
    display: none;
    top: 20%;
    left: 23.6%;
}

#datianagrafici{
    color: rgb(107,101,114);
    display: none;
}

#mouse{
    position: absolute;
    top: 89%;
    left: 21.09%;
    width: 2.15%;
}

p#sections{
    color: white;
    font-size: 350%;
}

#dati{
    position: absolute;
    top: 130%;
    left: 23.6%;
}

#scuola{
    position: absolute;
    top: 230%;
    left: 23.6%;
}

a:link{
    color: dimgray;
    text-decoration: none;
}

a:visited{
    color: dimgray;
    text-decoration: none;
}

a:hover{
    color: darkgrey;
    text-decoration: none;
}

a:active{
    color: darkgrey;
    text-decoration: none;
}